
/* Header section */
#tourbd1{
    color:white;
   font-size: 1.7vw;
   justify-content: space-between;
   position: relative;
}

/* about section */
.about{
    background-color:black;
}

/* heading and paragraph color changing */
#sajek2{
    color: rgb(240, 170, 7);
}

#sajek1{
    color: cyan;
}

/* Ending of heading and paragraph color */

/* End of about section */

/* Start footer */
#footer{
    background-color:black;
}
.footer a{
    color: cyan;
}